# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Conda/venv
.env
.venv/
env/
*.env
*.conda
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS
.DS_Store

# LangChainなどで生成されたベクトルDB
vectorstore/
